<% layout ("layouts/boilerplate.ejs") %>
    <h1>Campground Creator</h1>
    <div class="mt-5">
        <form action="/campgrounds" method="post" id="newCampground" class="d-flex ms-auto me-auto needs-validation"
            novalidate>
            <div class="d-flex flex-column">
                <div>
                    <label for="name" class="d-block mb-0">Campground name</label>
                    <input type="text" name="name" id="name" required class="form-control form-control-sm">
                    <div class="invalid-feedback">
                        Please provide a valid name.
                    </div>
                    <div class="valid-feedback">
                        Now it looks good!
                    </div>
                </div>
                <div>
                    <label for="price" class="form-label mt-3 mb-0">Price per night</label>
                    <input type="number" name="price" id="price" required step="0.01"
                        class="form-control form-control-sm">
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                    <div class="valid-feedback">
                        Now it looks good!
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label mt-3 mb-0">Location coordinates</label>
                    <input type="text" name="location" id="location" required pattern="(-?\d+\.\d+), (-?\d+\.\d+)"
                        class="form-control form-control-sm">
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                    <div class="valid-feedback">
                        Now it looks good!
                    </div>
                </div>
            </div>
        </form>
        <div>
            <label for="description" class="form-label mt-3 mb-0">Optional description</label>
            <textarea class="form-control form-control-sm" style="width: 15rem; height: 10rem;" name="description"
                id="description" cols="30" form="newCampground"></textarea>
        </div>
        <button type="submit" form="newCampground" class="d-inline btn btn-success mt-3">SUBMIT</button>
    </div>

    <script src="/scripts/bootstrap/validateforms.js"></script>