<% layout ("layouts/boilerplate.ejs") %>
    <div class="alert alert-danger container container-sm	mt-3" role="alert">
        <h4 class="alert-heading">Error <%=err.status%>
        </h4>
        <p>
            <%=err.message%>
        </p>
        <hr>
        <p class="mb-0">
            <%=err.stack%>
        </p>
        <p class="mb-0"><a class="alert-link" href="/campgrounds">Back to home page </a></p>
    </div>

    <script src="/scripts/bootstrap/common.js"></script>