<footer class="container-fluid bg-success sticky-bottom text-black-50 mt-2">
    <div class="display-6 mt-2 text-center py-2">YelpCamp</div>
    <div class="row text-center pb-2">
        <div class="col"><a class="text-black-50 text-decoration-none" href="">about Camp-site</a></div>
        <div class="col"><a class="text-black-50 text-decoration-none" href="">contact</a></div>
        <div class="col"><a class="text-black-50 text-decoration-none" href="">privacy policy</a></div>
    </div>
</footer>

